
<nav id="sidebar" class="jquery-accordion-menu">
	<div class="overlay-sidebar">
		<ul class="list-unstyled components accordion" id="accordionParent">
			<li class="active">
				<a href="/dashboard"><i class="mdi mdi-widgets-outline"></i> Dashboard</a>
			</li>
			<li>
				<a href="/landdetails"><i class="mdi mdi-map-marker-path"></i> Land Information</a>
			</li>
			<li>
				<a href="#menu_1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><i class="mdi mdi-map-legend"></i> LA Monitoring</a>
				<ul class="list-unstyled collapse" id="menu_1" data-parent="#accordionParent">
					<li>
						<a href="/landacquisitionprogress"><i class="mdi mdi-arrow-right-thin"></i>LA Progress</a>
					</li>
					<li>
						<a href="/troubletickets"><i class="mdi mdi-arrow-right-thin"></i>Trouble Tickets</a>
					</li>
					<li>
						<a href="/leasecase"><i class="mdi mdi-arrow-right-thin"></i>Lease Case</a>
					</li>
					<li>
						<a href="/acquisitionalienation"><i class="mdi mdi-arrow-right-thin"></i>Land Status Update</a>
					</li>
					<li>
						<a href="#menu_11" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><i class="mdi mdi-file-chart-outline"></i>Reports</a>
						<ul class="list-unstyled collapse" id="menu_11" data-child="#accordionParent">
							<li>
								<a href="/laprocess"><i class="mdi mdi-arrow-right-thin"></i>LA Process</a>
							</li>
							<li>
								<a href="/lahistory"><i class="mdi mdi-arrow-right-thin"></i>LA History</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#menu_2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><i class="mdi mdi-license"></i> Award & Compensation</a>
				<ul class="list-unstyled collapse" id="menu_2" data-parent="#accordionParent">
					<li>
						<a href="javascript:void(0)"><i class="mdi mdi-arrow-right-thin"></i>Award Register</a>
					</li>
					<li>
						<a href="javascript:void(0)"><i class="mdi mdi-arrow-right-thin"></i>Awardee Details</a>
					</li>
					<li>
						<a href="#menu_10" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><i class="mdi mdi-credit-card-outline"></i>Payment Registers</a>
						<ul class="list-unstyled collapse" id="menu_10" data-child="#accordionParent">
							<li>
								<a href="javascript:void(0)"><i class="mdi mdi-arrow-right-thin"></i>Private Land Payment</a>
							</li>
							<li>
								<a href="javascript:void(0)"><i class="mdi mdi-arrow-right-thin"></i>Government Land Payment</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#menu_11" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><i class="mdi mdi-file-chart-outline"></i>Reports</a>
						<ul class="list-unstyled collapse" id="menu_11" data-child="#accordionParent">
							<li>
								<a href="javascript:void(0)"><i class="mdi mdi-arrow-right-thin"></i>Sub Menu</a>
							</li>
							<li>
								<a href="javascript:void(0)"><i class="mdi mdi-arrow-right-thin"></i>Sub Menu</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#menu_3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><i class="mdi mdi-checkbox-marked-outline"></i> Resettlement & Rehabilitation</a>
				<ul class="list-unstyled collapse" id="menu_3" data-parent="#accordionParent">
					<li>
						<a href="javascript:void(0)"><i class="mdi mdi-arrow-right-thin"></i>Sub Menu</a>
					</li>
					<li>
						<a href="javascript:void(0)"><i class="mdi mdi-arrow-right-thin"></i>Sub Menu</a>
					</li>
				</ul>
			</li>
			
			<li>
				<a href="#menu_4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><i class="mdi mdi-clipboard-file-outline"></i> CSR Monitoring</a>
				<ul class="list-unstyled collapse" id="menu_4" data-parent="#accordionParent">
					<li>
						<a href="javascript:void(0)"><i class="mdi mdi-arrow-right-thin"></i>Sub Menu</a>
					</li>
					<li>
						<a href="javascript:void(0)"><i class="mdi mdi-arrow-right-thin"></i>Sub Menu</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/mapview"><i class="mdi mdi-map-marker-multiple"></i> Map Viewer</a>
			</li>
			<li>
				<a href="#menu_5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><i class="mdi mdi-account-multiple"></i> User Management</a>
				<ul class="list-unstyled collapse" id="menu_5" data-parent="#accordionParent">
					<li>
						<a href="/managerole"><i class="mdi mdi-arrow-right-thin"></i>Manage Role</a>
					</li>
					<li>
						<a href="/manageuser"><i class="mdi mdi-arrow-right-thin"></i>Manage User</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>